/**
 * About
 * ----------
 */

.about
  height 100vh

  .about-text
    display flex
    justify-content center
    align-items center
    height 100vh
    position relative
    z-index 10
    padding 50px

    h1
      color $white

  .video
    absolute 0
    overflow hidden
    pointer-events none

    &::after
      content ''
      absolute 0
      background linear-gradient(rgba($white, .1), rgba(#000, .9))

    & > .col
      absolute 0

      video
        absolute top left
        size 100%
        border none

        @media (min-aspect-ratio: 16/9)
          height 1000%
          top -450%

        @media (max-aspect-ratio: 16/9)
          width 1000%
          left -450%
          