/**
 * Loader
 * ----------
 */

.loading
  fixed 0
  text-align center
  height 100vh
  background #f5f5f5

  .inner
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

.header-loading
  height 40vh
  background #f5f5f5
  position relative

  .inner
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
