/*!
 * Login
 * ----------------
 *
 */

.login-wrapper
  display flex
  align-items center
  justify-content center
  height 100vh

  h2
    text-align center

  .login
    align-self center
    margin auto
    border-radius 10px
    box-shadow $shadow
    padding 50px

  .form-input
    display block !important

    &:first-of-type
      margin-top 50px !important
