/**
 * Nav
 * ----------
 */

.top-nav
  fixed top left
  background $navColor
  z-index 20
  width 100%
  box-shadow $shadow
  height $navHeight

  @media (max-width: $mobile)
    height auto

  .brand
    max-width 90px
    margin 10px 20px

  .icon
    outline 0

    &.active
      color $black
      