/**
 * Nav
 * ----------
 */

.top-nav
  fixed top left
  background $navColor
  z-index 20
  width 100%
  box-shadow $shadow
  height $navHeight
  display flex
  justify-content space-between

  @media (max-width: $mobile)
    height auto

  .brand
    max-width 90px
    margin 10px 20px
    padding-top 7px
    user-select none
    cursor default
    font-weight 500
    margin-right auto

  .nav-menu
    padding 20px

    .nav-item
      margin 0 10px
      display inline-block