.post-form
  display flex
  width 100%
  box-shadow shadow

  h3
    margin-top 30px
    margin-bottom 10px

  .form-buttons
    margin-top 20px

    button
      margin-right 20px !important


.post-new
  padding 10px 60px

.fields
  width 100%

.formWidth
  max-width 600px