/**
 * Sidebar
 * ----------
 */

.sidebar
  absolute top right
  width $sidebarWidth
  padding-top $navHeight
  background $white
  box-shadow $shadow
  z-index 10
  min-height 100vh

  @media (max-width: $mobile)
    height 35vh
    top 65vh
    bottom 0
    left 0
    width 100%
    padding-top 0

  .places
    background $white