/**
 * Base
 * -----------
 * Main / General styles.
 */

html
body
  font-family $fontFamily
  font-size   $fontSize
  line-height $lineHeight

  antialias()

::selection
  background transparent($primary, 0.1)

a
  text-decoration none
  color inherit

img
  max-width 100%
  width 100%