/**
 * Base
 * -----------
 * Main / General styles.
 */

html
body
  font-family $fontFamily
  font-size   $fontSize
  line-height $lineHeight
  overflow-x hidden

  antialias()

::selection
  background transparent($primary, 0.1)

a
  text-decoration none
  color inherit
  transition color 400ms

  &:hover
    color $primary

img
  max-width 100%
  width 100%

.app
  overflow hidden