/**
 * Fonts
 * -----
 * Register required font families.
 */

/**
 * Dubai (Primary Font)
 */
font-face('Dubai',\
  '/static/assets/fonts/dubai/DubaiW23-Light', 200, formats: local woff ttf eot)

font-face('Dubai',\
  '/static/assets/fonts/dubai/DubaiW23-Medium', 300, formats: local woff ttf eot)

font-face('Dubai',\
  '/static/assets/fonts/dubai/DubaiW23-Regular', 400, formats: local woff ttf eot)

font-face('Dubai',\
  '/static/assets/fonts/dubai/DubaiW23-Bold', 500, formats: local woff ttf eot)

/**
 * Ionicons (Icon)
 */
font-face('Ionicons',\
  '/static/assets/fonts/ion-icons/ionicons', formats: local woff ttf eot svg)