/**
 * Grid
 * -----
 */

.container
  position relative
  display flex
  flex-wrap wrap
  justify-content space-between
  margin 100px auto

  &.siteWidth
    max-width $siteWidth

  .col
    flex 1
    padding 20px

    &.col-4
      width 33%

    &.col-6
      width 50%
    
    &.col-8
      width 66.666667%

    &.col-12
      width 100%

    &[class*='col-']
      flex auto

      @media (max-width: $mobile)
        width 100%