/**
 * Icons
 * -----
 * Required icons register using
 * Ionicons font family.
 */

.icon
  position relative

  /**
   * Set defaults.
   */
  &:before
    font-family $icons
    font-weight normal

    /**
     * Register basic icons.
     */

    .send&
      content '\f474'

    .earth&
      content '\f276'

    .star&
      content '\f2fc'
    
    .done&
      content '\f382'

    .left&, .back&
      content '\f3d2'

    .search&
      content '\f4a4'

    .location&
      content '\f456'

    .popularity&
      content '\f2b5'

    .phone&
      content '\f4b9'

    .email&
      content '\f423'

    .clock&
      content '\f403'

    .emptyStar&
      content '\f3ae'
      color yellow

    .fullStar&
      content '\f2fc'
      color yellow
