/**
 * Config
 * ------
 * Variables for default
 * styling across site.
 */

$fontFamily   = 'Dubai', sans-serif
$icons        = 'Ionicons'

$fontSize     = 15px
$lineHeight   = 1.5

$primary      = #3498db
$gray         = #393F4A

$white        = #fff
$black        = #393F4A

$navColor     = rgba($white, .97)

$club         = #9b59b6
$bar          = #1abc9c
$restaurant   = #f1c40f
$cafe         = #e67e22
$movie        = #c0392b
$sport        = #27ae60

$shadow       = 0 0 40px 0 rgba($black, .1)

$mobile       = 1000px

$siteWidth    = 1000px

$navHeight    = 61px
$sidebarWidth = 480px
