/**
 * Config
 * ------
 * Variables for default
 * styling across site.
 */

$fontFamily   = 'Dubai', sans-serif
$icons        = 'Ionicons'

$fontSize     = 14px
$lineHeight   = 1.5

$primary      = #20E084
$gray         = #393F4A

$white        = #fff
$black        = #393F4A

$navColor     = rgba($white, .97)

$club         = #F34BE9
$bar          = #63e385
$restaurant   = #fff947
$cafe         = #2dd8fb

$shadow       = 0 0 40px 0 rgba($black, .1)

$mobile       = 1000px

$navHeight    = 61px
$sidebarWidth = 480px